@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

.cardLists {
  @apply px-10 relative w-full;

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  & .arrowButton {
    @apply text-white items-center justify-center flex h-full absolute w-10 z-10 top-0;
  }

  & .leftArrow {
    @apply left-0;
  }

  & .rightArrow {
    @apply right-0;
  }
}
