version: "3.9"

services:
  mongodb:
    container_name: mongodb
    hostname: mongodb
    image: mongo:latest
    restart: unless-stopped
    env_file: packages/api/.env
    ports:
      - 27018:27017
    volumes:
      - ./packages/api/db:/data/db

  backend-app:
    container_name: backend-app
    hostname: backend-app
    depends_on:
      - mongodb
    build:
      context: .
      dockerfile: ./Dockerfile.api.prod
    restart: unless-stopped
    env_file: packages/api/.env
    expose:
      - 8888
    stdin_open: true
    tty: true

  frontend-app:
    container_name: frontend-app
    hostname: frontend-app
    build:
      context: .
      dockerfile: ./Dockerfile.frontend.prod
    restart: unless-stopped
    env_file: packages/frontend-app/.env
    expose:
      - 9999
    stdin_open: true
    tty: true

  nginx:
    container_name: nginx
    hostname: nginx
    build:
      context: .
      dockerfile: ./Dockerfile.nginx.prod
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/nginx/ssl/
      - ./nginx-default.conf:/etc/nginx/conf.d/default.conf

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/

volumes:
  db:
