@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

.card__container {
  @apply flex flex-col cursor-pointer w-full;
  & .overlay {
    @apply absolute bottom-0 left-0 w-full h-full bg-blackAlpha30
	  @apply flex items-end justify-between p-4 
	  @apply opacity-0 hover:opacity-100 ease-in duration-300;
  }
}

.cover__image {
  @apply rounded-md w-full max-h-36 lg:max-h-40 xl:max-h-52 object-cover;
}
